<header class="header">

	<div class="header-top">
		<div class="container h-100">
			<div class="d-flex justify-content-between align-items-center h-100">
				<div class='header-top__nav '>
					<a class="header__top-nav-item circle" href="#">Акции</a>
					<a class="header__top-nav-item" href="#">О компании</a>
					<a class="header__top-nav-item" href="#">Услуги<svg class="arrow" xmlns="http://www.w3.org/2000/svg"
							width="16" height="16" viewBox="0 0 16 16" fill="none">
							<path d="M12 6L8 10L4 6" stroke="#004B8D" stroke-width="2" stroke-linejoin="round" />
						</svg></a>
					<a class="header__top-nav-item" href="#">Покупателям</a>
					<a class="header__top-nav-item" href="#">Партнерам</a>
					<a class="header__top-nav-item" href="#">Сервисная служба</a>
					<a class="header__top-nav-item" href="#">Новости</a>
					<a class="header__top-nav-item" href="#">Контакты</a>
				</div>
				<div class='d-flex h-100 align-items-center '>
					<a class="login" href="#">Личный кабинет<svg class="arrow" xmlns="http://www.w3.org/2000/svg" width="16"
							height="16" viewBox="0 0 16 16" fill="none">
							<path d="M12 6L8 10L4 6" stroke="#004B8D" stroke-width="2" stroke-linejoin="round" />
						</svg>
					</a>
					<a class="phone" href="#">
						<svg class='me-1' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
							<path fill-rule="evenodd" clip-rule="evenodd"
								d="M14.7966 20.9462C16.3339 21.4299 17.9904 18.5054 17.9999 18.0152C18.0166 17.1793 15.42 14.5923 15.0397 14.7947C14.4414 15.1131 12.6851 15.6979 12.3787 15.6129C11.2517 15.2997 8.32434 10.2734 8.61431 9.14914C8.69294 8.84374 10.0823 7.62827 10.6594 7.27398C11.0265 7.04865 10.0647 3.52601 9.32602 3.12212C8.89309 2.88545 5.50992 2.84506 5.16395 4.40679C3.97142 9.789 9.49852 19.2789 14.7966 20.9462V20.9462Z"
								fill="#004B8D" />
						</svg>8 (3852) 72-13-32</a>
				</div>
			</div>
		</div>
	</div>
	<div class="header-mid">
		<div class="container">
			<div class="d-flex align-items-center justify-content-between">
				<a href="/" class="header__logo logo">
					<img src="img/logo.svg" alt="Логотип - Дюйм">
				</a>
				<div class="header__search ">
					<div class="btn catalog-btn">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
							<rect x="7" y="18" width="14" height="2" rx="1" fill="white" />
							<rect x="2" y="18" width="2" height="2" rx="1" fill="white" />
							<rect x="7" y="11" width="14" height="2" rx="1" fill="white" />
							<rect x="2" y="11" width="2" height="2" rx="1" fill="white" />
							<rect x="7" y="4" width="14" height="2" rx="1" fill="white" />
							<rect x="2" y="4" width="2" height="2" rx="1" fill="white" />
						</svg>
						Каталог
					</div>
					<div class="search">
						<form action="#" class="search__form" method='get'>
							<input class="search__input" placeholder="Что вы ищите?">
						</form>
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
							<path fill-rule="evenodd" clip-rule="evenodd"
								d="M4 11C4 7.13401 7.13401 4 11 4C14.866 4 18 7.13401 18 11C18 14.866 14.866 18 11 18C7.13401 18 4 14.866 4 11ZM11 2C6.02944 2 2 6.02944 2 11C2 15.9706 6.02944 20 11 20C13.125 20 15.078 19.2635 16.6177 18.0319L20.2929 21.7071C20.6834 22.0976 21.3166 22.0976 21.7071 21.7071C22.0976 21.3166 22.0976 20.6834 21.7071 20.2929L18.0319 16.6177C19.2635 15.078 20 13.125 20 11C20 6.02944 15.9706 2 11 2Z"
								fill="#91A5B7" />
						</svg>
					</div>
				</div>
				<div class="d-flex">
					<a href="#" class="header__link"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"
							viewBox="0 0 32 32" fill="none">
							<path d="M5.33334 28L5.33334 4" stroke="#91A5B7" stroke-width="2.4" stroke-linecap="round" />
							<path d="M16 28L16 12" stroke="#91A5B7" stroke-width="2.4" stroke-linecap="round" />
							<path d="M26.6667 28L26.6667 20" stroke="#91A5B7" stroke-width="2.4" stroke-linecap="round" />
						</svg>
						<span>
							Сравнить
						</span></a>
					<a href="#" class="header__link">
						<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
							<path
								d="M4.74264 18.1854L15.2964 28.6365C15.6283 28.9652 15.7943 29.1296 16 29.1296C16.2057 29.1296 16.3717 28.9652 16.7036 28.6365L27.2574 18.1854C29.9814 15.4878 30.3161 11.2009 28.0436 8.11327L27.3891 7.22394C24.5699 3.39357 18.6702 4.01336 16.7086 8.34597C16.4327 8.95533 15.5673 8.95533 15.2914 8.34597C13.3298 4.01336 7.43008 3.39357 4.61095 7.22394L3.95641 8.11327C1.68392 11.2009 2.01856 15.4878 4.74264 18.1854Z"
								stroke="#004B8D" stroke-width="2" />
						</svg>
						<span>
							Избранное
						</span>
					</a>
					<a href="#" class="header__link">
						<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
							<path
								d="M3.00012 3.68311L5.92336 4.18905L7.27676 20.3132C7.38498 21.6301 8.48541 22.6406 9.80648 22.6364H25.138C26.3987 22.6392 27.4682 21.7116 27.6467 20.4636L28.9804 11.247C29.1294 10.2168 28.414 9.26115 27.3853 9.11217C27.2953 9.09952 6.39276 9.0925 6.39276 9.0925"
								stroke="#91A5B7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
							<path d="M18.9866 14.2867H22.8838" stroke="#91A5B7" stroke-width="2" stroke-linecap="round"
								stroke-linejoin="round" />
							<path fill-rule="evenodd" clip-rule="evenodd"
								d="M9.18983 27.5084C9.61286 27.5084 9.95437 27.8513 9.95437 28.273C9.95437 28.696 9.61286 29.0389 9.18983 29.0389C8.76681 29.0389 8.42529 28.696 8.42529 28.273C8.42529 27.8513 8.76681 27.5084 9.18983 27.5084Z"
								fill="#91A5B7" stroke="#91A5B7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
							<path fill-rule="evenodd" clip-rule="evenodd"
								d="M25.0433 27.5084C25.4664 27.5084 25.8093 27.8513 25.8093 28.273C25.8093 28.696 25.4664 29.0389 25.0433 29.0389C24.6203 29.0389 24.2788 28.696 24.2788 28.273C24.2788 27.8513 24.6203 27.5084 25.0433 27.5084Z"
								fill="#91A5B7" stroke="#91A5B7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
						</svg>
						<span>
							Корзина
						</span>
					</a>
				</div>
			</div>
		</div>
		<div>
			<div class="container">
				<!-- Slider main container -->
				<div class="swiper-cat swiper">
					<!-- Additional required wrapper -->
					<div class="swiper-cat-wrapper swiper-wrapper">
						<!-- Slides -->
						<div class="swiper-cat-slide swiper-slide">
							<a href="#" class='swiper-cat-link'>Арматура<span>(832)</span></a>
						</div>
						<div class="swiper-cat-slide swiper-slide">
							<a href="#" class='swiper-cat-link'>Котельное оборудование<span>(212)</span></a>
						</div>
						<div class="swiper-cat-slide swiper-slide">
							<a href="#" class='swiper-cat-link'>Насосное оборудование<span>(138)</span></a>
						</div>
						<div class="swiper-cat-slide swiper-slide">
							<a href="#" class='swiper-cat-link'>Сантехника<span>(223)</span></a>
						</div>
						<div class="swiper-cat-slide swiper-slide">
							<a href="#" class='swiper-cat-link'>Трубы и шланги<span>(322)</span></a>
						</div>
						<div class="swiper-cat-slide swiper-slide">
							<a href="#" class='swiper-cat-link'>Электрооборудование<span>(232)</span></a>
						</div>
						<div class="swiper-cat-slide swiper-slide">
							<a href="#" class='swiper-cat-link'>Пироги с маралятиной<span>(2232)</span></a>
						</div>
						<div class="swiper-cat-slide swiper-slide">
							<a href="#" class='swiper-cat-link'>Гантели облегченные <span>(222)</span></a>
						</div>
						<div class="swiper-cat-slide swiper-slide">
							<a href="#" class='swiper-cat-link'>Лодка моторная для ходьбы <span>(222)</span></a>
						</div>
					</div>
					<!-- If we need navigation buttons -->
					<div class="swiper-cat-button-prev swiper-button-prev"><svg xmlns="http://www.w3.org/2000/svg" width="16"
							height="16" viewBox="0 0 16 16" fill="none">
							<path d="M6 4L10 8L6 12" stroke="#383A3D" stroke-width="2" stroke-linejoin="round" />
						</svg></div>
					<div class="swiper-cat-button-next swiper-button-next"><svg xmlns="http://www.w3.org/2000/svg" width="16"
							height="16" viewBox="0 0 16 16" fill="none">
							<path d="M6 4L10 8L6 12" stroke="#383A3D" stroke-width="2" stroke-linejoin="round" />
						</svg></div>
				</div>
			</div>
		</div>
	</div>

</header>