<section class="hero">
	<div class="container">

		<div class="row">
			<div class='col-xxl-9 mb-3 mb-sm-5 mb-xxl-0'>
				<div class="slider swiper">
					<!-- Additional required wrapper -->
					<div class="slider-wrapper swiper-wrapper ">
						<!-- Slides -->
						<div class="slider-slide swiper-slide">
							<div class="slider__left">
								<h1 class="slider__left-title">
									Оборудование для отопления и водоснабжения
								</h1>
								<p class="slider__left-subtitle">Водонагревательное и котельное оборудование HAIER уже на складе ДЮЙМ.
									Успевайте за
									новинками. </p>
								<a href="#" class='button button-ylw button-slider '>Смотреть</a>
							</div>
							<div class="slider__right">
								<img src="img/hero-slider-1.png" alt="" srcset="">
							</div>
						</div>

						<div class="slider-slide swiper-slide">
							<div class="slider__left">
								<h1 class="slider__left-title">
									Оборудование для отопления и умозаключения
								</h1>
								<p class="slider__left-subtitle">Водонагревательное и котельное оборудование HAIER уже на складе ДЮЙМ.
									Успевайте за
									новинками. </p>
								<a href="#" class='btn'>Смотреть</a>
							</div>
							<div class="slider__right">
								<img src="img/hero-slider-1.png" alt="" srcset="">
							</div>
						</div>
						<div class="slider-slide swiper-slide">
							<div class="slider__left">
								<h1 class="slider__left-title">
									Оборудование для отопления и умозаключения
								</h1>
								<p class="slider__left-subtitle">Водонагревательное и котельное оборудование HAIER уже на складе ДЮЙМ.
									Успевайте за
									новинками. </p>
								<a href="#" class='btn'>Смотреть</a>
							</div>
							<div class="slider__right">
								<img src="img/hero-slider-1.png" alt="" srcset="">
							</div>
						</div>
					</div>
					<div class="slider__btnbox">
						<!-- If we need navigation buttons -->
						<div class=" slider-button-prev swiper-button-prev""><svg xmlns=" http://www.w3.org/2000/svg" width="16"
							height="16" viewBox="0 0 16 16" fill="none">
							<path d="M6 4L10 8L6 12" stroke="#383A3D" stroke-width="2" stroke-linejoin="round" />
							</svg>
						</div>
						<div class="slider-button-next swiper-button-next""><svg xmlns=" http://www.w3.org/2000/svg" width="16"
							height="16" viewBox="0 0 16 16" fill="none">
							<path d="M6 4L10 8L6 12" stroke="#383A3D" stroke-width="2" stroke-linejoin="round" />
							</svg>
						</div>


					</div>
					<div class="slider-pagination swiper-pagination"></div>
				</div>
			</div>
			<div class="col-xxl-3">
				<div class="hero__offer">
					<h2 class="hero__offer-title">
						Специальные условия для профессионалов и юридических лиц
					</h2>
					<span class="hero__offer-subtitle">
						Станьте участником программы для корпоративных клиентов и получите специальные условия на покупку.
					</span>
					<a href="
					#" class="hero__offer-btn">Узнать больше <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
							viewBox="0 0 16 16" fill="none">
							<path d="M6 4L10 8L6 12" stroke="#383A3D" stroke-width="2" stroke-linejoin="round" />
						</svg></a>
					<img src="img/hero-offer-img.png" alt="">
				</div>
			</div>
		</div>
	</div>


</section>

<div id="modal" class="modal">
	<div class="modal-content">
		<div class="container">
			<div class="d-flex align-items-center justify-content-between">
				<div class="modal__top">
					<a href="/" class="header__logo logo">
						<img src="img/logo.svg" alt="Логотип - Дюйм">
					</a>
					<span class="close">
						<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
							<path d="M27 5L5 27" stroke="#91A5B7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
							<path d="M5 5L27 27" stroke="#91A5B7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
						</svg>
						<span>Закрыть</span>
					</span>
				</div>
			</div>
			<div class="modal__main">
				<div class="modal__main-left ">
					<div class=" modal__main-left-side scroll-modal " id="menuContainer">

					</div>
				</div>

				<div class="modal__main-right">
					<div class="modal__right-inner active">
						<div class="catalog-card">
							<h3>Смесители</h3>
							<ul>
								<li><a href="#">Для кухни <span>(55)</span></a></li>
								<li><a href="#">Для раковины и умывальника <span>(34)</span></a></li>
								<li><a href="#">Для ванной и душа <span>(45)</span></a></li>
								<li><a href="#">Для туалета <span>(98)</span></a></li>
								<li><a href="#">Для биде <span>(87)</span></a></li>
							</ul>
						</div>
						<div class="catalog-card">
							<h3>Душевое оборудование</h3>
							<ul>
								<li><a href="#">Боковые форсунки <span>(23)</span></a></li>
								<li><a href="#">Верхний душ <span>(7)</span></a></li>
								<li><a href="#">Гигиенические души <span>(44)</span></a></li>
								<li><a href="#">Душевые гарнитуры <span>(24)</span></a></li>

							</ul>
							<a href="#" class="button catalog-card-btn">Ещё 6 разделов <svg xmlns="http://www.w3.org/2000/svg"
									width="16" height="16" viewBox="0 0 16 16" fill="none">
									<path d="M6 4L10 8L6 12" stroke="#383A3D" stroke-width="2" stroke-linejoin="round" />
								</svg></a>
						</div>
						<div class="catalog-card">
							<h3>Сифоны, сливы-переливы</h3>
							<ul>
								<li><a href="#">Бутылочные <span>(14)</span></a></li>
								<li><a href="#">Гофрированные <span>(4)</span></a></li>
								<li><a href="#">Скрытого монтажа <span>(37)</span></a></li>
								<li><a href="#">Сухие <span>(88)</span></a></li>
								<li><a href="#">Трубные <span>(376)</span></a></li>

							</ul>

						</div>
						<div class="catalog-card">
							<h3>Инженерная сантехника</h3>
							<ul>
								<li><a href="#">Арматура <span>(314)</span></a></li>
								<li><a href="#">Байпасы <span>(55)</span></a></li>
								<li><a href="#">Коллекторы <span>(33)</span></a></li>
								<li><a href="#">Люки <span>(22)</span></a></li>

							</ul>
							<a href="#" class="button catalog-card-btn">Ещё 8 разделов <svg xmlns="http://www.w3.org/2000/svg"
									width="16" height="16" viewBox="0 0 16 16" fill="none">
									<path d="M6 4L10 8L6 12" stroke="#383A3D" stroke-width="2" stroke-linejoin="round" />
								</svg></a>
						</div>
						<div class="catalog-card">
							<h3>Мебель для ванной комнаты</h3>
							<ul>
								<li><a href="#">Раковины с тумбой <span>(125)</span></a></li>
								<li><a href="#">Полки для ванны <span>(11)</span></a></li>
								<li><a href="#">Тумбы <span>(4)</span></a></li>
								<li><a href="#">Стеллажи <span>(2)</span></a></li>

							</ul>
							<a href="#" class="button catalog-card-btn">Ещё 3 раздела <svg xmlns="http://www.w3.org/2000/svg"
									width="16" height="16" viewBox="0 0 16 16" fill="none">
									<path d="M6 4L10 8L6 12" stroke="#383A3D" stroke-width="2" stroke-linejoin="round" />
								</svg></a>
						</div>
					</div>
					<div class="modal__right-inner">
						Насосы
					</div>
					<div class="modal__right-inner">
						Приборы отопления
					</div>
					<div class="modal__right-inner">
						4
					</div>
				</div>

			</div>
		</div>
	</div>
</div>